/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url('./images/bag.png') center no-repeat;
    background-size: 80%;
}

#bag.burst {
    background: url('./images/bag-burst.png') center no-repeat;
    background-size: 80%;
}

#bag-health {
    width: 200px;
    border: 2px solid black;
    margin: 0 auto 20px auto;
}

.health_bar {
    background-color: darkred;
    height: 20px;
}

#controls {
    width: 120px;
    margin: 0 auto;
}